/* portfolio.css */

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  height: 200px;
  flex-shrink: 0;
}

.portfolio__item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio__item h3 {
  margin: 1.5rem 0 1rem 0;
  flex-shrink: 0;
}

.portfolio__item p {
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
  flex-grow: 1;
}

.portfolio__item-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.portfolio__item-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin-top: auto;
  flex-shrink: 0;
}

.portfolio__item-cta a {
  display: flex;
  align-items: center;
  color: var(--color-primary);
}

.portfolio__item-cta a:hover {
  color: var(--color-primary-variant);
}

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

